{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <!--<h2>Vitajte {{ user['email'] }} vo svojom užívateľskom profile</h2>-->

        <h2>{{ user['name'] }}, Vaša nová objednávka: </h2>

        <h4>Objednávané produkty:</h4>
        {% if ordered_items %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <!--<th scope="col">id</th>-->
                    <th scope="col"></th>
                    <th scope="col">názov produktu</th>
                    <th scope="col">počet</th>
                    <th scope="col">jednotková cena</th>

                </tr>
            </thead>
            <tbody>
                {% for each in range(ordered_items|length) %}
                    <tr>
                        <!--<th scope="row">{{ ordered_items[each] }}</th>-->
                        <td>
                            <img src="{{ products[each]['image'] }}" class="img-fluid" alt="Obrázok chýba" style="width: 120px">
                        </td>
                        <td>{{ products[each]['name'] }}</td>
                        <td>{{ counts[each] }}</td>
                        <td>{{ products[each]['price'] }} EUR</td>


                    </tr>
                {% endfor %}
                <tr>
                    <!--<td></td>-->
                    <td>Doprava</td>
                    <td>{{ shipping['name'] }}</td>
                    <td></td>
                    <td>{{ shipping['price'] }} EUR</td>
                </tr>

                <tr class="table-secondary">
                    <!--<td></td>-->
                    <td></td>
                    <td></td>
                    <td><strong>Spolu</strong></td>
                    <td><strong>{{ total_price }} EUR</strong></td>

                </tr>

            </tbody>
        </table>

        <hr>

        <h4>Adresa pre odoslanie objednávky:</h4>
        <div class="card mb-2 mx-2" style="width: 22rem">
            <div class="card-body">
                <p class="mb-0">{{ address['name'] }}</p>
                <p class="mb-0">{{ address['street'] }}</p>
                <p class="mb-3">{{ address['zip_code'] }} &nbsp {{ address['city'] }}</p>
                <p class="mb-1">{{ address['phone'] }}</p>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-7"></div>
            <div class="col-4">
                <form action="/make-order" method="post">
                    {{ csrf_field }}
                    <button class="btn btn-success">Záväzne objednať</button>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}