{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <!--<h2>Vitajte {{ user['email'] }} vo svojom užívateľskom profile</h2>-->

        <h2>{{ user['name'] }}, vyberte spôsob dopravy: </h2>

        <!--<h4>Vaše adresy:</h4>-->

        <hr>
            <div class="row row-cols-1 row-cols-lg-3">
            {% for shipping in shippings %}
                <div class="col">
                    <div class="card mb-2 mx-2" style="width: 22rem">
                        <div class="card-body">
                            <p class="mb-0">{{ shipping['name'] }}</p>
                            <p class="mb-0">{{ shipping['price'] }} EUR</p>
                            <div>
                                <form action="/order-review" method="post">
                                    {{ csrf_field }}
                                    <input type="number" value="{{ shipping['id'] }}" name="shipping_id" hidden>
                                    <button class="btn btn-success" type="submit">Vybrať</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        <hr>
    </div>
</main>

{% endblock %}