{% extends "menu.html" %}
{% block content_a %}

    <!-- Page -->
	<main role="main">
        <div class="container-sm">
            <div class="display-4 _nav_padding mb-4">
                Všehochuť
            </div>

            <p class="h5">Milé zákazníčky, milí zákazníci,</p>

            <p class="blog_text">chcela by som vás pozvať do môjho zákulisia a predstaviť tvorbu,
                ktorá je síce zameraná hlavne na výrobu šperkov a skrášlovacích vecičiek,
                no zároveň je “z každého rožku trožku” čo do materiálu a spôsobu výroby.
                Či mi to neprekáža? Práve naopak. Milujem rôznorodosť!
                Či je to tým, že chcem v tvorení skúsiť všetko a teda myslím tým VŠETKO ;)
                neviem… no takto sa na to pozerám ja:</p>

            <p class="blog_text">Tvorím podľa inšpirácie, ktorá ma obklopuje, podľa filmu, udalosti,
                kníh a článkov. Podľa pocitov, nálady a určite tiež ročného obdobia a tým nemyslím,
                že v zime vznikajú len snehové vločky a tomu podobné, skôr keď je dlho pochmúrne počasie,
                rada vytvorím hrejivý šperk plný “usmiatej margarétky” alebo “teplého morského dna”.
                Zároveň sa stala výroba pre mňa takou psychohygienou, pri troch deťoch tiež relaxom a potešením.</p>

            <p class="blog_text">Poďte so mnou ochutnávať :)</p>

            <p class="blog_text">Makramé, strapce, bavlnky… technika a materiál vo mne podniecujú ženskosť,
                naturálne/prírodné materiály, knižné romány, pletené svetre,
                ľanové šaty až po kotníky a k nim plátené tenisky, v zimších krajinách pokojne vlnené deky,
                hrubé rukavice, baranice alebo kožúšky</p>

            <img class="img-fluid" src="/static/img_webp/cover/last/06.webp" alt="...">

            <p class="blog_text mt-3">Drôtikovanie a tepanie... vzbudzuje vo mne silu a vášeň.
                Doslova milujem klepkanie kladívka o drôt a oceľovú podložku a môj malý synček tiež :)
                Je úžasné ako sa z ohýbania pevného drôtu, niekedy až hrubou silou, tvorí nežnôstka,
                šperk pre krehké stvorenie.
                Čo sa týka inšpirácie, tu by som to najviac prirovnala asi k filmu Flashdance,
                kde sa úžasná tanečnica živí zváraním ;)</p>

            <img class="img-fluid" src="/static/img_webp/cover/last/04.webp" alt="...">

            <p class="blog_text mt-3">Ďalším mojim veľmi oblúbeným materiálom je živica, produkt takmer nekonečných možností.
                Tu sa mi hlavnou inšpiráciou stáva samotná príroda. Z každej dovolenky a z každého výletu
                si domov prinášam nielen spomienky na krásne chvíle s rodinou, ale tiež krabičky plné lišajníkov,
                kôry, machu, kvetov, listov, šišiek, kamienkov, rastliniek a pod. Je to príroda hôr, lúk, polí,
                okolia rybníkov, jazier a potokov… no čo viac dodať – v súčasnej dobe niečo, čo sa stáva dosť vzácnym,
                čo nám všetkým chýba a na čo sa väčšina z nás teší.
                Živicu “patlám” na kadejaké povrchy - na drevo, kov, do formičiek, ale i takpovediac len tak do prázdna.
                Skúšam, odlievam, farbím, miešam, následne brúsim a leštím...posledné dve spomenuté dali
                zabrať než som si našla tú pravú techniku a správny materiál na prácu aby som bola s výsledkom spokojná</p>

            <img class="img-fluid" src="/static/img_webp/cover/last/01.webp" alt="...">
            <p>&nbsp</p>
            <img class="img-fluid" src="/static/img_webp/cover/last/02.webp" alt="...">

            <p class="blog_text mt-3">Drevo, material s veľkým “M”, sa sám o sebe prirodzene stal produktom mnohých a
                súčasťou neskutočne veľkého množstva šperkov a dekorácií. Ja sama bohužiaľ nevlastním dieľňu
                aby som natoľko (koľko by som chcela) mohla drevo opracovávať, no to mi nezabránilo nájsť mu
                využitie aj v mojej “skriňovo-stolovo-kúpelňovej” dielni ako podklad živicových šperkov,
                v podobe korálikov, príveskov alebo dekorácií</p>

            <img class="img-fluid" src="/static/img_webp/cover/last/03.webp" alt="...">

            <p class="blog_text mt-3">A ešte korálky (ja obľubujem slovo koráliky). Snáď ich ani netreba nijak
                zvlášť predstavovať. Tvoria súčasť mnohých šperkov či v podobe sklenených korálikov alebo
                kamienkov/minerálov, rada si ich vytváram zo živice, tiež to možu byť perličky, mušličky, drievka,
                môžu byť keramické, polymérové… v podstate čokoľvek :)</p>

            <img class="img-fluid" src="/static/img_webp/cover/last/05.webp" alt="...">

            <p class="blog_text mt-3">Verím, že vás budem môcť privítať vo svojom obchodíku, že sa vám všehochuť
                mojich šperkov zapáči minimálne tak ako mne a že tam každý z vás objaví “to svoje”</p>

            <p class="blog_text mb-0">šikovnica</p>
            <p class="blog_text">Vierka</p>

            <p class="blog_text">PS: Všetky sprievodné fotky vznikli z mojej tvorby, z mojich zásob, v mojej dielni ;)</p>

        </div>
	</main>
{% endblock %}