{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <h2>{{ user['name'] }}, Váš nákupný košík: </h2>

        {% if ordered_items %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <!--<th scope="col">id</th>-->
                    <th scope="col"></th>
                    <th scope="col">názov produktu</th>
                    <th scope="col">počet</th>
                    <th scope="col">cena za kus</th>
                    <th scope="col">&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for each in range(ordered_items|length) %}
                    <tr>
                        <!--<th scope="row">{{ ordered_items[each] }}</th>-->
                        <td>
                            {% if 'variant_id' in ordered_items[each] %}
                                <img src="{{ products[each]['variants'][0]['image'] }}" class="img-fluid" alt="Obrázok chýba" style="width: 120px">
                            {% else %}
                                <img src="{{ products[each]['image'] }}" class="img-fluid" alt="Obrázok chýba" style="width: 120px">
                            {% endif %}
                        </td>
                        {% if 'variant_id' in ordered_items[each] %}
                            <td>{{ products[each]['name'] }}<br/>{{ products[each]['variants'][0]['name'] }}</td>
                        {% else %}
                            <td>{{ products[each]['name'] }}</td>
                        {% endif %}
                        <td>{{ ordered_items[each]['count'] }}</td>

                        {% if 'variant_id' in ordered_items[each] %}
                            {% if products[each]['variants'][0]['price'] %}
                                <td>{{ products[each]['variants'][0]['price'] }} EUR</td>
                            {% else %}
                                <td>{{ products[each]['price'] }} EUR</td>
                            {% endif %}
                        {% else %}
                            <td>{{ products[each]['price'] }} EUR</td>
                        {% endif %}

                        <td>
                            <form action="/remove-from-cart" method="post">
                                {{ csrf_field}}
                                <input type="number" value="{{ ordered_items[each]['product_id'] }}" name="item_to_remove" hidden>
                                {% if 'variant_id' in ordered_items[each] %}
                                    <input type="number" value="{{ ordered_items[each]['variant_id'] }}" name="variant_id" hidden>
                                {% endif %}
                                <button class="btn btn-danger my-1 my-sm-0" type="submit">
                                    <svg class="bi py-0" width="1.2em" height="1.2em">
                                        <use xlink:href="/static/svg/icons.svg#trash"></use>
                                    </svg>
                                    <!--Odstrániť--></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="table-secondary">
                    <!--<th scope="row"></th>-->
                    <td></td>
                    <td></td>
                    <td><strong>Spolu</strong></td>
                    <td><strong>{{ total_price }} EUR</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <div class="row">
            <div class="col-7"></div>
            <div class="col-4">
                    <a href="/order-user-details" class="btn btn-success">
                        <svg class="bi pb-1" width="1.4em" height="1.4em">
                            <use xlink:href="/static/svg/icons.svg#check2"></use>
                        </svg>
                        Objednať</a>
            </div>
            <div class="col-1"></div>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}