{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <h2>Vaša adresa: {{ address['id'] }}</h2>


        <hr>
        <form action="/edit-address" method="post" id="form1">
            {{ csrf_field }}
            <input name="id" value="{{ address['id'] }}" hidden>
            <div class="form-group">
                <label for="name">Meno</label>
                <input type="text" class="form-control form-control-lg" id="name" name="name"
                       value="{{ address['name'] }}" required>
            </div>
            <div class="form-group">
                <label for="street">Ulica a číslo domu</label>
                <input type="text" class="form-control form-control-lg" id="street" name="street"
                       value="{{ address['street'] }}" required>
            </div>
            <div class="form-group">
                <label for="city">Mesto/Obec</label>
                <input type="text" class="form-control form-control-lg" id="city" name="city"
                       value="{{ address['city'] }}" required>
            </div>
            <div class="form-group">
                <label for="zip_code">Poštové smerovacie číslo</label>
                <input type="text" class="form-control form-control-lg" id="zip_code" name="zip_code"
                       value="{{ address['zip_code'] }}" required>
            </div>
            <div class="form-group">
                <label for="phone">Telefónny kontakt</label>
                <input type="text" class="form-control form-control-lg" id="phone" name="phone"
                       value="{{ address['phone'] }}">
            </div>
        </form>

            <div>
                <a href="/dashboard/profile" class="btn btn-primary">Zrušiť</a>
                <button class="btn btn-success" type="submit" form="form1">Uložiť</button>
            </div>

        <!--</form>-->

        <hr>

    </div>
</main>

{% endblock %}