<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma">
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie Flower">-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">

	<title>Šperky od Vierky</title>

	<link href="/static/css/test01.css" rel="stylesheet">
  </head>
  <body>
    <!-- Main menu -->

	<header>
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<a class="navbar-brand" href="/">Šperky od Vierky</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/profile">Osobné údaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/orders">Objednávky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/cart">Košík</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zmena hesla</a>
                    </li>

                </ul>

					{% if user['email'] %}
						<div class="nav-item mx-2">prihlásený užívateľ: {{ user['email'] }}</div>
					{% endif %}




					{% if not user %}
							<a href="/login" class="nav-link btn btn-primary my-0 mx-2 my-sm-0" role="button">Login</a>
					{% endif %}
					{% if user %}
							<!--<a href="/logout" class="nav-link btn btn-primary my-0 mx-2 my-sm-0"
							role="button">Logout</a>-->
                        <form class="form-inline mt-2 mt-md-0 ml-2" action="/logout" method="get">
							<button class="btn btn-primary my-2 my-sm-0" type="submit">
								<svg class="bi pb-1" width="1.4em" height="1.4em">
									<use xlink:href="/static/svg/bootstrap-icons.svg#box-arrow-left"></use>
								</svg>
								<span>Logout</span></button>
						</form>
					{% endif %}



					</div>
			</nav>
    </header>

    {% block content_a %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>