{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <h2 class="mb-3">Vitajte {{ user['name'] }}, Vaše objednávky:</h2>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">dátum</th>
                    <th scope="col">cena spolu</th>
                    <th scope="col">stav objednávky</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}

                    <tr>

                        <th scope="row"><a href="/dashboard/order/{{ order['id'] }}">Obj. #{{ order['id'] }}</a></th>
                        <td>{{ order['created_at'] }}</td>
                        <td>{{ order['total_price'] - order['discount'] }}</td>
                        <th>{{ order['order_state']['name'] }}</th>


                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</main>

{% endblock %}