{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <h2>Vitajte {{ user['email'] }} vo svojom užívateľskom profile</h2>

        <h4>Vaše objednávky: </h4>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">dátum</th>
                    <th scope="col">cena spolu</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}

                    <tr>

                        <th scope="row"><a href="/dashboard/order/{{ order['id'] }}">Objednávka č. {{ order['id'] }}</a></th>
                        <td>{{ order['created_at'] }}</td>
                        <td>{{ order['total_price'] }}</td>
                        </a>


                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</main>

{% endblock %}