{% extends "dash/menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-sm _nav_padding">
        <h2>Vitajte {{ user['email'] }} vo svojom užívateľskom profile</h2>

        <h4>Objednávka č. {{ order['id'] }}:</h4>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col"></th>
                    <th scope="col">názov produktu</th>
                    <th scope="col">počet kusov</th>
                    <th scope="col">jednotková cena</th>

                </tr>
            </thead>
            <tbody>
                {% for product in products %}

                    <tr>

                        <th scope="row">{{ product['id'] }}</th>
                        <td>
                            <img src="{{ product['image'] }}" class="img-fluid" alt="Obrázok chýba" style="width: 120px">
                        </td>
                        <td>{{ product['name'] }}</td>
                        <td>{{ product['pivot']['product_count'] }}</td>
                        <td>{{ product['pivot']['unit_price'] }} EUR</td>

                    </tr>

                {% endfor %}
                <tr class="table-secondary">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td><strong>Spolu</strong></td>
                    <td><strong>{{ order['total_price'] }} EUR</strong></td>
                </tr>

            </tbody>
        </table>
    </div>
</main>

{% endblock %}