{% extends "email/base.html" %}
{% block content %}
    <tr>
        <td class="content-block">
            <!--Please confirm your email address by clicking the link below.-->
            {{ name }}, zaznamenali sme požiadavku na zresetovanie Vášho hesla.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <!--We may need to send you critical information about our service and it is important that we have an accurate email address.-->
            Ak si prajete zresetovať Vaše heslo a nastaviť si nové, kliknite na tlačidlo nižiše.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <a href="{{ link }}" class="btn-primary">Zresetovať heslo</a>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            &mdash; Šperky od Vierky
        </td>
    </tr>
{% endblock %}