{% extends 'auth/base.html' %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4 _nav_padding">
    <div class="panel panel-default text-center">
        <div class="h4 panel-heading">Chyba overenia</div>
        <div class="panel-body">
            <!--Confirming email failed. Click here to go <a href="/home">home</a>-->
            Overenie emailovej adresy zlyhalo. Kliknutím <a href="/dashboard/profile">sem</a> prejdete do svojho profilu.
        </div>
    </div>
</div>
{% endblock %}
