{% extends 'auth/base.html' %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4 _nav_padding">
    <div class="panel panel-default">
        <div class="h4 panel-heading">Overenie emailovej adresy</div>
        <div class="panel-body">
            <!--Please check your email and follow the link to verify your email. If
            you need us to resend the email. Click <a href="/email/verify/send">here</a>-->
            Prosím skontrolujte si Vašu emailovú schránku. Kliknite na link v správe, ktorú sme Vám poslali.
            Ak potrebujete, aby sme Vám poslali overovací email znova kliknite <a href="/email/verify/send2">sem</a>.
        </div>
    </div>
</div>
{% endblock %}
