{% extends "menu.html" %}
{% block content_a %}

    <!-- Page -->
	<!--<main role="main">-->

		<div class="container-sm" style="padding-top: 1.4rem">
			<h1 class="text-center">
				<!--<img src="/static/img/logo/logo-nobck-80.png" style="width: 80px" alt="..." class="mr-3">-->
				<img src="/static/svg/logo-nobck.svg" style="width: 50px" alt="..." class="mr-3">

				Šperky od Vierky</h1>
			<h1 class="lead text-center mb-4">
				Handmade šperky - živicové, drevené, macrame, s korálikmi, strapcami aj drôtené</h1>
		</div>

		<div class="container-fluid" style="margin-top: 0; padding-left: 0!important; padding-right: 0!important;">
			<div id="carouselExampleSlidesOnly" class="carousel slide mb-3 mt-0" data-ride="carousel">
				<div class="carousel-inner">

					<!--<div class="carousel-item active">
							<img src="/static/img/cover/last/01.jpg" class="img-fluid mx-auto d-block" alt="...">
					</div>-->

					<div class="carousel-item active">
							<img src="/static/img_webp/cover/last/02.webp" class="img-fluid mx-auto d-block" alt="...">
					</div>

					<div class="carousel-item">
							<img src="/static/img_webp/cover/last/03.webp" class="img-fluid mx-auto d-block" alt="...">
					</div>

					<div class="carousel-item">
							<img src="/static/img_webp/cover/last/04.webp" class="img-fluid mx-auto d-block" alt="...">
					</div>

					<div class="carousel-item">
							<img src="/static/img_webp/cover/last/05.webp" class="img-fluid mx-auto d-block" alt="...">
					</div>

					<div class="carousel-item">
							<img src="/static/img_webp/cover/last/06.webp" class="img-fluid mx-auto d-block" alt="...">
					</div>

				</div>
			</div>
		</div>

		<!-- Categories -->
		<div class="container-sm">
		  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3">
			{% for category in categories %}
			<div class="col">


				<!-- Card Wider -->
					<div class="card card-cascade wider my-2">
					  <div class="card-body card-body-cascade text-center">
						<!-- Title -->
						<h5 class="card-title font-weight-light mb-0">{{ category["name"] }}</h5>
					  </div>
						<!-- Card image -->
					  <div class="view view-cascade overlay hovereffect">
						<a href="/portfolio/{{ category['id'] }}">
						  <img class="card-img-top img-fluid" src="{{ category['image_path'] }}" alt="...">

						  <!--<div class="mask rgba-white-slight"></div>-->
						</a>
					  </div>

					  <!-- Card content -->

					</div>

			</div>
			{% endfor %}

		  </div>


		</div>

	<!--</main>-->
{% endblock %}
