{% extends "menu.html" %}
{% block content_a %}

    <!-- Page -->
	<main role="main">


		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		    <div class="carousel-inner">

				<div class="carousel-item active">
					<div class="container-fluid">
						<img src="/static/img/banner/last/01.jpg" class="img-fluid mx-auto d-block" alt="...">

					</div>
				</div>

				<div class="carousel-item">
					<div class="container-fluid">
						<img src="/static/img/banner/last/02.jpg" class="img-fluid mx-auto d-block" alt="...">
					</div>
				</div>

				<div class="carousel-item">
					<div class="container-fluid">
						<img src="/static/img/banner/last/03.jpg" class="img-fluid mx-auto d-block" alt="...">
					</div>
				</div>

				<div class="carousel-item">
					<div class="container-fluid">
						<img src="/static/img/banner/last/04.jpg" class="img-fluid mx-auto d-block" alt="...">
					</div>
				</div>

				<div class="carousel-item">
					<div class="container-fluid">
						<img src="/static/img/banner/last/05.jpg" class="img-fluid mx-auto d-block" alt="...">
					</div>
				</div>


			</div>
		</div>

		<!-- Categories -->
		<div class="container-sm">
		  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
			{% for category in categories %}
			<div class="col">


				<!-- Card Wider -->
					<div class="card card-cascade wider my-2">
					  <div class="card-body card-body-cascade text-center">
						<!-- Title -->
						<h5 class="card-title font-weight-light mb-0">{{ category["name"] }}</h5>
					  </div>
						<!-- Card image -->
					  <div class="view view-cascade overlay hovereffect">
						<a href="/portfolio/{{ category['id'] }}">
						  <img class="card-img-top img-fluid" src="{{ category['image_path'] }}" alt="...">

						  <!--<div class="mask rgba-white-slight"></div>-->
						</a>
					  </div>

					  <!-- Card content -->

					</div>

			</div>
			{% endfor %}

		  </div>


		</div>

	</main>
{% endblock %}
