{% extends "portfolio_header.html" %}
{% block content_main %}

<!-- <main role="main"> -->
    <div class="container-sm" style="max-width: 960px; margin-top: 1rem">
        {% for product in products %}
            <div class="row">
                <!-- image -->
                <div class="col-sm-5">
                    <div class="products_item_padding">
                        <a href="/product/{{ product['id'] }}">
                            <img src="{{ product['image'] }}" class="img-fluid" alt="Obrázok chýba">
                        </a>
                        {% if product['variants']|length > 0 %}
                            <button class="btn btn-secondary btn-sm" style="position: absolute; left: 45px; top: 30px;" disabled>
                                <!--<svg class="bi my-0" width="1.2em" height="1.2em">
                                    <use xlink:href="/static/svg/bootstrap-icons.svg#collection-fill"></use>
                                </svg>-->Varianty
                            </button>
                        {% endif %}
                    </div>
                </div>
                <!-- other fields -->
                <div class="col-sm-7">
                    <div class="products_item_padding">
                        <h4 class="my-4">{{ product["name"] }}
                            {% set id_ = product["id"] %}
                        </h4>
                        <!--<p>{{ product["description"] }}</p>-->
                        {% for line in product['description_lines'] %}
                            <p class="my-0">{{ line  }}</p>
                        {% endfor %}
                        <h4 class="my-4">{{ product["price"] }} EUR</h4>
                        <a href="/product/{{ product['id'] }}" class="btn btn-success" role="button">Podrobnosti</a>
                    </div>
                </div>

            </div>
            <hr>
        {% endfor %}
    </div>

<!-- </main> -->

{% endblock %}