{% extends "menu.html" %}

{% block title %}
	<title>Šperky od Vierky - Handmade šperky</title>
{% endblock %}

{% block header_tags %}

{% endblock %}

{% block content_a %}

<main role="main">

    {% if settings['display_holiday_note'] == True %}
        <div class="container-sm" style="margin-top: 5.5rem"> <!--2rem-->
    {% else %}
        <div class="container-sm" style="margin-top: 2rem">
    {% endif %}
            <div class="text-center mb-2">

                {% for category in categories %}
                    <!--<button type="button" class="btn btn-info">{{ category["name"] }}</button>-->
                    <!--
                    <a href="/portfolio/{{ category['id'] }}" class="btn btn-dark active" role="button" aria-pressed="true">{{ category["name"] }}</a>
                    -->
                    {% if category['id'] == category_['id'] %}
                        <a href="/portfolio/{{ category['id'] }}" class="btn btn-secondary active mb-1"
                           role="button" aria-pressed="true">{{ category["name"] }}</a>
                    {% else %}
                        <a href="/portfolio/{{ category['id'] }}" class="btn btn-secondary mb-1"
                           role="button" aria-pressed="true">{{ category["name"] }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="text-center mb-2">

                {% if category_['id'] == -1 %}
                    {% set category_ = {'id': 1} %}
                {% endif %}

                {% for material in materials %}
                    {% if material['id'] == material_['id'] %}
                        <a href="/portfolio/{{ category_['id'] }}/{{ material['id'] }}" class="btn btn-secondary active mb-1"
                           role="button" aria-pressed="true">{{ material["name"] }}</a>
                    {% else %}
                        <a href="/portfolio/{{ category_['id'] }}/{{ material['id'] }}" class="btn btn-secondary mb-1"
                           role="button" aria-pressed="true">{{ material["name"] }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% block content_main %}
    {% endblock %}

</main>

{% endblock %}
