
{% extends "menu.html" %}
{% block content_a %}

<!-- <main role="main"> -->
    <div class="container-sm _nav_padding">
        {% for product in products %}
            <div class="row">
                <!-- image -->
                <div class="col-sm-5 view overlay zoom">
                    <a href="/admin/product/edit/{{ product['id'] }}">
                        <img src="{{ product['image'] }}" class="img-fluid products_item_padding" alt="Obrázok chýba">
                    </a>
                </div>
                <!-- other fields -->
                <div class="col-sm-7">
                    <div class="products_item_padding">
                        <h4 class="my-4">{{ product["name"] }}
                            <span class="bg-info text-white"> ID: {{ product['id'] }} </span>
                        </h4>
                        <!--<p>{{ product["description"] }}</p>-->
                        {% for line in product['description_lines'] %}
                            <p class="my-0">{{ line  }}</p>
                        {% endfor %}

                        <h4 class="my-4">{{ product["price"] }} EUR</h4>

                        <button class="btn {{ product['availability']['visual_class'] }} ml-1">
                            {{ product['availability']['name'] }}
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<!-- </main> -->

{% endblock %}

