{% extends "menu.html" %}
{% block content_a %}

<main role="main">

    <div class="container-md _nav_padding">

        <form action="/admin/product/edit/{{ product['id'] }}" method="POST" enctype="multipart/form-data" id="form1">
            {{ csrf_field }}
            <div>
                <h2>Upraviť produkt <span class="bg-info text-white"> ID: {{ product['id'] }} </span></h2>
            </div>
            <div class="form-group">
                <label for="name">Názov produktu</label>
                <input type="text" class="form-control form-control-lg" id="name" name="name" value="{{ product['name']}}">
            </div>

            <div class="form-group">
                <label for="description">Popis produktu</label>
                <!--<input type="text" class="form-control" id="description">-->
                <textarea class="form-control" id="description" rows="5" name="description">{{ product['description'] }}</textarea>
            </div>

            <div class="form-group">
                <label for="detail">Detailný popis</label>
                <!--<input type="text" class="form-control" id="description">-->
                <textarea class="form-control" id="detail" rows="12" name="detail">{{ product['detail'] }}</textarea>
            </div>

            <div class="form-group">
                <label for="note">Poznámka</label>
                <!--<input type="text" class="form-control" id="description">-->
                <textarea class="form-control" id="note" rows="7" name="note">{{ product['note'] }}</textarea>
            </div>

            <div class="form-group">
                <label for="price">Cena</label>
                <!--<input type="text" class="form-control" id="description">-->
                <input type=number" class="form-control" id="price" name="price" value="{{ product['price']}}">
            </div>

            <div class="form-group">
                <label for="category">Produktová kategória</label>
                <select class="form-control" id="category" name="category" value="{{ product['category_id'] }}">
                    {% for cat in categories %}
                        {% if cat["id"] == product["category_id"] %}
                            <option selected="selected">{{ cat["name"]  }}</option>
                        {% else %}
                            <option>{{ cat["name"]  }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="material">Materiálová skupina</label>
                {% for mat in materials %}
                    <div class="form-check">
                        {% if mat['id'] in checked_materials %}
                            <input class="form-check-input" type="checkbox" value="" name="mat_{{ mat['id'] }}" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" value="" name="mat_{{ mat['id'] }}">
                        {% endif %}
                        <label class="form-check-label">{{ mat["name"] }}</label>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="file">Pridať obrázok</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
        </form>

            <div class="form-group">
                <label>Uložené obrázky</label>
                <div class="row row-cols-3">
                    {% for image in images %}
                        <div class="col">
                            <p>{{ image }}</p>
                            <img src="{{ image }}" class="img-fluid img-thumbnail">
                            <form action="/admin/image/delete" method="post">
                                {{ csrf_field }}
                                <input type="hidden" name="image_to_delete" value="{{ image }}">
                                <input type="hidden" name="caller_id" value="{{ product['id'] }}">
                                <button type="submit" class="btn btn-danger">Vymazať</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary" form="form1">Uložiť</button>

        <h4 class="mt-4">Príbuzné produkty</h4>

        <div class="row row-cols-3">
            {% for prod in related_products %}
                <div class="col">

                    <img src="{{ prod['image'] }}" class="img-fluid img-thumbnail">
                </div>
            {% endfor %}
        </div>

        <a href="/related_product/{{ product['id'] }}">
            <button class="btn btn-primary mt-2">Pridať príbuzné produkty</button>
        </a>
    </div>

</main>
{% endblock %}