{% extends "menu.html" %}
{% block content_a %}

<div class="container-sm" style="max-width: 960px; margin-top: 3rem">
    <div class="text-center mb-4">
        <img src="/static/img/logo/logo-400-w-bck.png" class="img-fluid mx-auto d-block" alt="..." style="max-width: 200px">
    </div>

    <h3 class="text-center mb-4">Kontakty</h3>

    <p class="text-center mb-4"><strong>V prípade otázok ma neváhajte kontaktovať.</strong></p>

    <p class="text-center mb-2">Viera Fajtáková</p>

    <p class="text-center mb-2">Pri cintoríne 1320</p>

    <p class="text-center">908 73 Veľké Leváre</p>

    <p class="text-center mb-2"><strong>telefón:</strong></p>

    <p class="text-center">+421 903 319 112</p>

    <p class="text-center mb-2"><strong>e-mail:</strong></p>

    <div class="text-center mb-0">
        <a href="mailto:sperkyodvierky@gmail.com">sperkyodvierky@gmail.com</a>
    </div>

    <div class="text-center mb-3">
        <a href="mailto:vfajtakova@gmail.com">vfajtakova@gmail.com</a>
    </div>

    <hr>
    <p class="text-center mb-2"><strong>facebook:</strong></p>

    <div class="text-center mb-3">
        <a href="https://www.facebook.com/vfdizajn" target="_blank">https://www.facebook.com/vfdizajn</a>
    </div>

    <p class="text-center mb-2"><strong>pinterest:</strong></p>

    <div class="text-center mb-3">
        <a href="https://sk.pinterest.com/vfajtakova/_created/" target="_blank">https://sk.pinterest.com/vfajtakova/_created/</a>
    </div>

    <p class="text-center mb-2"><strong>instagram:</strong></p>

    <div class="text-center mb-3">
        <a href="https://www.instagram.com/sperkyodvierky/" target="_blank">https://www.instagram.com/sperkyodvierky/</a>
    </div>

</div>


{% endblock %}
