{% extends "menu.html" %}
{% block content_a %}

<div class="container-sm" style="max-width: 960px; margin-top: 3rem">
    <div class="text-center mb-4">
        <img src="/static/img/logo/logo-400-w-bck.png" class="img-fluid mx-auto d-block" alt="..." style="max-width: 200px">
    </div>

    <h3 class="text-center mb-4">Obchodné podmienky</h3>

    <h5><strong>Úvodné ustanovenia</strong></h5>

    <p>
        Tieto obchodné podmienky platia pre nákup v internetovom obchode
        <a href="https://sperkyodvierky.sk">https://sperkyodvierky.sk</a>, ktorého prevádzkovateľom je:
    </p>

    <p class="mb-0">
        Viera Fajtáková
    </p>
    <p class="mb-0">
        Pri cintoríne 1320
    </p>
    <p class="mb-3">
        908 73 Veľké Leváre
    </p>
    <p class="mb-0">
        tel. 0918 923 297
    </p>
    <p class="mb-6">
        e-mail: <a href="mailto: vfajtakova@gmail.com">vfajtakova@gmail.com</a>
    </p>

    <h5><strong>Objednávka a uzavretie kúpnej zmluvy</strong></h5>

    <p class="mb-0">
        1. Všetky objednávky podané prostredníctvom internetovej predajne predávajúceho sú považované za záväzné.
        Odoslaním objednávky kupujúci potvrdzuje, že sa oboznámil s týmito obchodnými podmienkami a
        reklamačným poriadkom, ktorý je súčasťou týchto obchodných podmienok.
    </p>
    <p class="mb-0">
        2. Podmienkou platnosti elektronickej objednávky je vyplnenie všetkých objednávkových formulárov
        predpísaných údajov a náležitostí a odsúhlasenie obsahu objednávky.
    </p>
    <p class="mb-0">
        3. Miestom dodania tovaru je adresa uvedená kupujúcim v objednávkovom formulári.
        Pri udaní neúplnej adresy dodania a neuvedenia mena kupujúceho bude objednávka zamietnutá.
    </p>
    <p class="mb-0">
        4. Vlastnícke právo k tovaru prechádza na kupujúceho prevzatím tovaru s odkladacou podmienkou
        úplného zaplatenia kúpnej ceny spolu s nákladmi predávajúceho spojených s predajom, ktoré znáša kupujúci.
    </p>
    <p class="mb-0">
        5. Vyplnením objednávkového formulára či odoslaním záväznej objednávky v rámci internetového
        obchodu kupujúci dáva predávajúcemu súhlas so zhromažďovaním a archivovaním osobných údajov o kupujúcom
        a o jeho nákupoch (viď. Ochrana osobných údajov zákazníkov).
    </p>
    <p class="mb-0">
        6. Kupujúci má právo stornovať objednávku bez udania dôvodu kedykoľvek pred jej záväzným potvrdením
        predávajúcim. Po záväznom potvrdení objednávky iba v prípade, že predávajúci nesplní dohodnuté
        podmienky dodania. V prípade stornovania potvrdenej objednávky je kupujúci povinný uhradiť predávajúcemu
        škodu vzniknutú týmto jednaním. Predávajúci uplatní právo na úhradu škody hlavne v prípade nákupu tovaru
        „na objednávku“, ktoré bolo nutné na želanie zákazníka zaobstarať alebo v prípade, že v súvislosti
        so zaistením tovaru došlo už k vynaloženiu preukázateľných nákladov. Výška storno poplatkov môže byť
        do výšky až 50% z celkovej ceny tovaru.
    </p>
    <p class="mb-6">
        7. Predávajúci má právo stornovať objednávku, pokiaľ kupujúci neodpovedá na poštu, ktorú si od kupujúceho
        prečítal a v ktorej ho kupujúci vyzýva na upresnenie objednávky.
    </p>

    <h5><strong>Predaj tovaru do zahraničia</strong></h5>

    <p class="mb-6">
        Vynasnažím sa vyhovieť želaniam všetkých zákazníkov bez ohľadu na miesto dodania tovaru.
        V prípade, že je to mimo územia SR, riešim platobné a dodacie podmienky individuálne prostredníctvom
        vnútornej pošty v závislosti od miesta vášho pobytu a od veľkosti a hmotnosti objednaného tovaru.
    </p>

    <h5><strong>Možnosti platby</strong></h5>

    <p class="mb-0">
        Prevodným príkazom na náš učet v Raiffeisen banke
    </p>
    <p class="mb-0">
        Platba na dobierku po dohode
    </p>
    <p class="mb-6">
        Vyhradzujem si právo odmietnuť dobierku u kupujúcich s negatívnymi hodnoteniami a u tých,
        ktorí v tomto internetovom obchode nakupujú prvýkrát.
    </p>

    <h5><strong>Doprava a dodacie podmienky</strong></h5>

    <p class="mb-0">
        Dôležitou informáciou pre zahraničných zákazníkov je cena za dopravu. Táto suma je určovaná
        individuálne v závislosti od celkovej ceny objednávky, veľkosti, objemu a miesta dodania tovaru.
        Túto informáciu vám, samozrejme, viem poskytnúť ešte pred samotnou objednávkou.
    </p>
    <p class="mb-6">
        V prípade, že tieto dodacie podmienky akceptujete, nebráni nám už nič k úspešnej realizácii obchodu.
        Tovar do zahraničia zasielam prostredníctvom Slovenskej pošty.
    </p>

    <h5><strong>Dodacie podmienky, expedičné lehoty a prepravné</strong></h5>

    <p class="mb-0">
        1. Ak nie je v popise objednaného tovaru alebo výrobku uvedené inak, je všetok tovar,
        ktorý je na sklade, expedovaný do 3 pracovných dní po potvrdení objednávky - dobierky,
        príp. uhradení objednávky na účet. V prípade, že sa objednaný tovar nevyrába, resp. nie je
        v prevádzkových možnostiach predávajúceho tovar pre kupujúceho zabezpečiť, alebo by s obstaraním
        tovaru boli spojené neprimerané náklady, nie je predávajúci viazaný objednávkou kupujúceho,
        o čom kupujúceho v lehote 3 dní upovedomí.
    </p>
    <p class="mb-0">
        2. Každý zákazník je informovaný o zaslaní tovaru e-mailom. Objednávku si môže skontrolovať
        pri prihlásení sa v systéme. O stave objednávky je zákazník taktiež upozornený e-mailom.
    </p>
    <p class="mb-0">
        3. Dodávka tovaru je uskutočnená prostredníctvom Slovenskej pošty na adresu uvedenú zákazníkom v objednávke.
    </p>
    <p class="mb-0">
        4. Dodanie tovaru na územie členských štátov Európskej únie, príp. iných štátov uskutočňujeme
        na základe predchádzajúceho súhlasu a vzájomného písomného odsúhlasenia si ceny za poštovné a balné a príp.
        ďalších dodacích podmienok medzi kupujúcim a predávajúcim.
    </p>
    <p class="mb-0">
        5. Predávajúci si vyhradzuje právo na predĺženie expedičnej lehoty v prípade, že tovar nie je momentálne
        na sklade, a je potrebný určitý čas na jeho výrobu, alebo sa vyskytnú iné nepredvídateľné udalosti.
        O prípadnej ďalšej expedičnej lehote bude zákazník informovaný e-mailom.
    </p>
    <p class="mb-0">
        6. V akútnych prípadoch (napr. tovar je určený ako darček, alebo je treba ho doručiť pred odchodom na dovolenku)
        nás zákazník môže požiadať o prednostné vybavenie objednávky. Možno tak urobiť najlepšie súčasne
        s odoslaním objednávky e-mailom. Tovar odošleme 1. triedou prostredníctvom Slovenskej pošty.
    </p>
    <p class="mb-0">
        7. Pokiaľ časť objednaného tovaru buď nie je momentálne na sklade, alebo je nutné na zákazku vyrobiť,
        celú objednávku pozastavím a zákazníka informujem o približnom možnom termíne vybavenia celej objednávky.
        Zákazník nás na základe tejto informácie môže požiadať o zaslanie tej časti tovaru, ktorá je na sklade,
        v rámci lehoty stanovenej obchodnými podmienkami a zbytku, akonáhle bude k dispozícii.
        V tomto prípade však zákazník hradí poštovné za obidve zásielky.
    </p>
    <p class="mb-0">
        8. Tovar, ktorý ste si u nás objednali Vám bude doručený poštou doporučene. Tovar neštandardných
        rozmerov alebo tovar ťažší ako 30 kg Vám bude dodaný spôsobom, ktorý bude odsúhlasený osobitne.
    </p>
    <p class="mb-6">
        9. Predávajúci nezodpovedá za neskoré dodanie tovaru spôsobené prepravcom, poštou, oneskoreným
        dodaním od výrobcu, a pod.
    </p>

    <h5><strong>Podmienky a možnosť platby za tovar (poštovné)</strong></h5>

    <p class="mb-0">
        1. Vystavená online faktúra slúži ako dodací list.
    </p>
    <p class="mb-0">
        2. Na ceny určené v internetovom obchode nie je aplikovaná DPH (predávajúci nie je platcom DPH),
        všetky ceny sú zobrazované vrátane DPH.
    </p>
    <p class="mb-6">
        3. Ak predávajúci nesplní zmluvu, pretože objednaný tovar nemôže dodať alebo službu poskytnúť,
        je povinný o tom bezodkladne informovať spotrebiteľa a do 15 dní mu vrátiť cenu zaplatenú za tovar
        alebo preddavok, ak sa predávajúci a spotrebiteľ nedohodnú na náhradnom plnení.
    </p>

    <h5><strong>Nedoručené zásielky</strong></h5>

    <p class="mb-0">
        1. Pokiaľ sa zásielka vráti ako nedoručená bez nášho zavinenia (pošta adresáta nenašla,
        nevyrozumela o uložení zásielky, zákazník zásielku nedopatrením alebo úmyselne neprevzal, a pod.),
        odošlem zákazníkovi správu e-mailom so žiadosťou o informáciu, čo ďalej robiť s jeho objednávkou.
        Odpoveď na túto výzvu očakávame v termíne 7 dní od odoslania správy.
    </p>
    <p class="mb-0">
        2. Ak nás zákazník požiada o opätovné odoslanie zásielky, doúčtujem k celkovej cene zásielky druhý
        manipulačný poplatok a poštovné ako pri prvom odoslaní.
    </p>
    <p class="mb-0">
        3. Opätovné odoslanie nedoručenej zásielky je možné len na základe úhrady vopred.
    </p>
    <p class="mb-0">
        4. Pokiaľ zákazník na výzvu v navrhnutom termíne neodpovie, objednávku stornujem.
        Zákazníka na storno objednávky upozorním. V tomto prípade bude ďalší nákup zákazníka možný len
        po zaplatení tovaru vopred (bankovým prevodom). Ak platba prebehne v poriadku,
        toto platobné obmedzenie pre ďalšie objednávky zruším.
    </p>
    <p class="mb-6">
        5. Prípadné reklamácie budú vybavené v súlade s reklamačným poriadkom internetovej predajne
        predávajúceho a právnym poriadkom platným v Slovenskej republike.
    </p>

    <h5><strong>Odstúpenie od kúpnej zmluvy</strong></h5>

    <p class="mb-0">
        1. Spotrebiteľ je oprávnený bez uvedenia dôvodu odstúpiť od zmluvy do 14 dní odo dňa prevzatia
        tovaru alebo od uzavretia zmluvy o poskytnutí služby, ak predávajúci včas a riadne splnil informačné
        povinnosti podľa § 10 zákona č. 108/2000 Z.z..
    </p>
    <p class="mb-0">
        2. Vzhľadom k tomu, že v prípade odstúpenia sa zmluva od začiatku ruší, vráti alebo nahradí dodávateľ
        spotrebiteľovi /kupujúcemu/ cenu za tovar + náklady na poštovné /náklady na poštovné budú vrátené len
        do výšky najlacnejšej formy poštovného v tomto e-shope/.
    </p>
    <p class="mb-0">
        3. Ak sa spotrebiteľ rozhodne pre odstúpenie od zmluvy v lehote uvedenej v bode 1., je povinný
        dodržať nasledujúce podmienky:
    </p>
    <p class="mb-0">
        3.1. Kontaktovať písomnou formou predávajúceho, že žiada o odstúpenie od zmluvy s uvedením čísla objednávky,
        mena a priezviska, dátumu nákupu a svojím číslom účtu či adresou pre vrátenie peňazí
        - môže použiť nižšie uvedený FORMULÁR na odstúpenie od zmluvy
    </p>
    <p class="mb-0">
        3.2. Ak spotrebiteľ tovar obdržal a prevzal, zašle ho späť na našu adresu uvedenú v sekcií kontakt
        najneskôr do 14 dní odo dňa odstúpenia od zmluvy.
    </p>
    <p class="mb-0">
        3.3. Pri splnení všetkých vyššie uvedených podmienok pre vrátenie tovaru Vám peniaze za tovar a
        poštovné zašleme prevodom na Váš účet a to najneskôr do 14  dní odo dňa odstúpenia od zmluvy.
    </p>
    <p class="mb-0">
        3.4. Odporúčame zaslať tovar doporučene, nakoľko neručíme za jeho prípadnú stratu na ceste k nám.
        Zásielky na dobierku neakceptujeme.
    </p>
    <p class="mb-6">
        3.5 Kupujúci si hradí poštovné za vrátenie tovaru sám.
    </p>

    <h5><strong>Formulár na odstúpenie od zmluvy</strong></h5>

    <p class="mb-3">
        (vyplňte a zašlite tento formulár len v prípade, že si želáte odstúpiť od zmluvy)
    </p>
    <p class="mb-3">
        - Komu: Viera Fajtáková, Pri cintoríne 1320, 908 73 Veľké Leváre
    </p>
    <p class="mb-1">
        - Týmto oznamujem, že odstupujem od zmluvy číslo .....................................
    </p>
    <p class="mb-3">
        (uveďte variabilný symbol faktúry)
    </p>
    <p class="mb-3">
        Uveďte prosím názov vráteného tovaru:
    </p>
    <p class="mb-3">
        ..............................................................................................................................
    </p>
    <p class="mb-3">
        Dôvod vrátenia tovaru /nepovinné/:
    </p>
    <p class="mb-3">
        ..............................................................................................................................
    </p>
    <p class="mb-3">
        Dátum prijatia tovaru:
    </p>
    <p class="mb-3">
        ..............................................................................................................................
    </p>
    <p class="mb-3">
        Meno a priezvisko spotrebiteľa:
    </p>
    <p class="mb-3">
        ..............................................................................................................................
    </p>
    <p class="mb-3">
        Adresa spotrebiteľa:
    </p>
    <p class="mb-3">
        ..............................................................................................................................
    </p>
    <p class="mb-3">
        Číslo účtu /pre prípad vrátenia peňazí/:
    </p>
    <p class="mb-3">
        ..............................................................................................................................
    </p>

    <h5><strong>Ochrana osobných údajov zákazníkov</strong></h5>

    <p class="mb-6"><strong>
        Na ochrane Vašich osobných údajov nám veľmi záleží a preto Vám chceme poskytnúť  dôležité informácie
        týkajúce sa spracovávana Vašich osobných údajov v súvislosti s nariadením Európskeho parlamentu a
        Rady (EÚ) 2016/679 o ochrane fyzických osôb pri spracúvaní osobných údajov a voľnom pohybe týchto údajov,
        ktorým sa zrušuje smernica 95/46/ES a zákonom č. 18/2018 Z.z. o ochrane osobných údajov a o zmene a
        doplnení niektorých zákonov, ktorý kladie nové požiadavky na ochranu osobných údajov.
    </strong></p>


    <p class="mb-1">
        - Kto je prevádzkovateľom Vašich osobných údajov?
    </p>
    <p class="mb-3">
        Prevádzkovateľom Vašich osobných údajov je Viera Fajtáková so sídlom  Pri cintoríne 1320, 908 73 Veľké Leváre
    </p>
    <p class="mb-1">
        - Prečo spracúvame vaše osobné údaje a za akým účelom?
    </p>
    <p class="mb-3">
        Vaše osobné údaje spracovávame len a výlučne za účelom bezproblémového vybavenia objednávky
        a poskytnutia zákazníckeho servisu.
    </p>
    <p class="mb-1">
        - Aké osobné údaje spracovávame?
    </p>
    <p class="mb-3">
        Vaše osobné údaje spracovávame len v rozsahu nevyhnutnom na naplnenie účelu spracovania objednávok.
    </p>
    <p class="mb-1">
        - Aké sú Vaše práva v oblasti ochrany osobných údajov?
    </p>
    <p class="mb-1">
        Máte právo na:
    </p>
    <p class="mb-1">
        * prístup k osobným údajov
    </p>
    <p class="mb-1">
        * na opravu, resp.doplnenie údajov
    </p>
    <p class="mb-1">
        * na výmaz údajov /byť zabudnutý/
    </p>
    <p class="mb-1">
        * na prenositeľnosť údajov
    </p>
    <p class="mb-3">
        * vzniesť námietku proti spracovávaniu osobných údajov
    </p>

    <p class="mb-0">
        1. Podmienkou vybavenia Vašej objednávky je evidovanie Vašich osobných údajov.
    </p>
    <p class="mb-0">
        2. Poskytnutie osobných údajov je nepovinné, dobrovoľné, ale v prípade ich neposkytnutia nebude
        možné uspokojiť Vaše požiadavky a umožniť Vám nákup v našom internetovom obchode.
    </p>
    <p class="mb-0">
        3. Predávajúci rešpektujúc súkromie osôb sa zaväzuje zhromažďovať iba tie osobné identifikačné údaje
        (informácie, ktoré umožňujú alebo uľahčujú identifikáciu ktorejkoľvek osoby, napr. meno, bydlisko, e-mail...),
        ktoré nám sami a dobrovoľne poskytnete, a ktoré nevyhnutne potrebujeme za účelom poskytovania čo najlepších služieb.
    </p>
    <p class="mb-0">
        4. Osobné údaje, ktoré sú súčasťou objednávky a boli nám oznámené v priebehu registrácie zákazníka,
        sú našou spoločnosťou považované za dôverné a sú chránené proti zneužitiu.
    </p>
    <p class="mb-0">
        5. Zaslaním záväznej objednávky udeľuje kupujúci našej spoločnosti časovo neobmedzený súhlas
        so spracovaním osobných údajov.
    </p>
    <p class="mb-0">
        6. Predávajúci sa zaväzuje, že Vami poskytnuté osobné údaje použije výlučne k tomu, aby sa s Vami spojil
        s cieľom komplexne splniť Vaše požiadavky a potreby a neustále zlepšoval svoje služby.
    </p>
    <p class="mb-0">
        7. Predávajúci sa zaväzuje, že informácie o osobných údajoch, získané prostredníctvom internetového obchodu,
        neposkytne tretím osobám, nepredá a ani neprenajme, pokiaľ takáto skutočnosť nebude predmetom vzájomnej
        dohody pred uskutočnením obchodu.
    </p>
    <p class="mb-0">
        8. Predávajúci môže použiť sporadicky osobné údaje alebo ich časť v súhrnnej forme výlučne pre potreby
        štatistických analýz, rozborov alebo správ, za podmienky, že z takto získaných dát nebude možné získať žiadne
        identifikačné osobné údaje konkrétnej osoby.
    </p>
    <p class="mb-0">
        9. Predávajúci je nútený zverejniť nevyhnutnú časť Vašich osobných údajov prepravným spoločnostiam,
        ktoré zabezpečujú prepravu našich produktov až k Vám na základe Vašej záväznej objednávky.
        Tieto spoločnosti zodpovedajú za ochranu Vašich osobných údajov v súlade s platným právnym poriadkom SR.
    </p>
    <p class="mb-6">
        10. Predávajúci si vyhradzuje právo v prípade potreby aktualizovať údaje, uvedené v internetovom obchode
        sperkyodvierky.sk a týkajúce sa ochrany údajov.
    </p>


    <h5><strong>Reklamačný poriadok internetovej predajne <a href="https://sperkyodvierky.sk">sperkyodvierky.sk</a></strong></h5>

    <p class="mb-6">
        V zmysle platného Občianskeho zákonníka je na každý tovar poskytovaná záruka 2 roky.
        Zo záruky sú vyňaté chyby a poškodenia výrobku, ktoré vznikli nesprávnym zaobchádzaním,
        nesprávnym používaním, nesprávnym ošetrovaním výrobku a iné. Plynúť začína dňom prevzatia tovaru kupujúcim.
        Pri reklamácii je kupujúci povinný preukázať, že tovar bol zakúpený u predávajúceho.
        Ak ide o vadu, ktorú možno odstrániť, má kupujúci právo, aby bola bezplatne, včas a riadne odstránená.
        Predávajúci je povinný vadu bez zbytočného odkladu odstrániť. Predávajúci môže vždy namiesto odstránenia
        vady vymeniť vadnú vec za bezvadnú. V ostatnom platia pre zodpovednosť predávajúceho za vady tovaru
        ustanovenia všeobecne záväzných právnych predpisov.
    </p>

    <h5><strong>Záverečné ustanovenia</strong></h5>

    <p class="mb-6">
        Tieto obchodné podmienky platia v znení, ktoré je uvedené na internetovej stránke predávajúceho v deň o
        doslania elektronickej objednávky kupujúcim. Odoslaním elektronickej objednávky kupujúci bez výhrad
        akceptuje všetky ustanovenia obchodných podmienok v platnom znení v deň odoslania objednávky,
        ako aj v deň odoslania objednávky platnú cenu objednaného tovaru (vrátane poštovného a balného) uvedenú
        na stránkach internetovej predajne predávajúceho, ak by nebolo v konkrétnych prípadoch preukázateľne
        dohodnuté inak. Odoslanou objednávkou (návrhom kúpnej zmluvy) je kupujúci neodvolateľne viazaný
    </p>

</div>

{% endblock %}